*.pyc
__pycache__/
*.egg-info/
.installed.cfg
bin/
parts/
eggs/
develop-eggs/
build/
debian/files
debian/cipher-googlepam/
debian/cipher-googlepam.debhelper.log
debian/cipher-googlepam.postinst.debhelper
debian/cipher-googlepam.prerm.debhelper
debian/cipher-googlepam.substvars
