[buildout]
extends = versions.cfg
develop = .
parts = test python addusers
extensions = buildout-versions
buildout_versions_file = versions.cfg
newest = false
include-site-packages = false
unzip = true
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = cipher.googlepam [test]
defaults = ['--tests-pattern', '^f?tests$$', '-v']

[python]
recipe = zc.recipe.egg
eggs = cipher.googlepam
interpreter = py

[addusers]
recipe = zc.recipe.egg:scripts
eggs = cipher.googlepam
scripts = add-google-users
