[versions]

# Added by Buildout Versions at 2012-04-17 12:26:00.938463
buildout-versions = 1.6
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.testing = 4.1.1

# Required by:
# cipher.googlepam==0.1.0
gdata = 2.0.15

# Required by:
# cipher.googlepam==0.1.0
# zope.exceptions==3.7.1
# zope.interface==3.8.0
# zope.testrunner==4.0.4
setuptools = 0.6c12dev-r88846

# Required by:
# zope.testrunner==4.0.4
zope.exceptions = 3.7.1

# Required by:
# zope.testrunner==4.0.4
zope.interface = 3.8.0

# Required by:
# zc.recipe.testrunner==1.4.0
zope.testrunner = 4.0.4

# Added by Buildout Versions at 2012-04-17 20:58:06.045638
buildout-versions = 1.6
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.testing = 4.1.1

# Required by:
# cipher.googlepam==0.1.0
gdata = 2.0.15

# Required by:
# cipher.googlepam==0.1.0
# zope.exceptions==3.7.1
# zope.interface==3.8.0
# zope.testrunner==4.0.4
setuptools = 0.6c12dev-r88846

# Required by:
# zope.testrunner==4.0.4
zope.exceptions = 3.7.1

# Required by:
# zope.testrunner==4.0.4
zope.interface = 3.8.0

# Required by:
# zc.recipe.testrunner==1.4.0
zope.testrunner = 4.0.4

# Added by Buildout Versions at 2012-04-17 20:58:18.359485
buildout-versions = 1.6
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.testing = 4.1.1

# Required by:
# cipher.googlepam==0.1.0
gdata = 2.0.15

# Required by:
# cipher.googlepam==0.1.0
# zope.exceptions==3.7.1
# zope.interface==3.8.0
# zope.testrunner==4.0.4
setuptools = 0.6c12dev-r88846

# Required by:
# zope.testrunner==4.0.4
zope.exceptions = 3.7.1

# Required by:
# zope.testrunner==4.0.4
zope.interface = 3.8.0

# Required by:
# zc.recipe.testrunner==1.4.0
zope.testrunner = 4.0.4

# Added by Buildout Versions at 2012-04-17 20:59:06.408096
buildout-versions = 1.6
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.testing = 4.1.1

# Required by:
# cipher.googlepam==0.1.0
gdata = 2.0.15

# Required by:
# cipher.googlepam==0.1.0
# zope.exceptions==3.7.1
# zope.interface==3.8.0
# zope.testrunner==4.0.4
setuptools = 0.6c12dev-r88846

# Required by:
# zope.testrunner==4.0.4
zope.exceptions = 3.7.1

# Required by:
# zope.testrunner==4.0.4
zope.interface = 3.8.0

# Required by:
# zc.recipe.testrunner==1.4.0
zope.testrunner = 4.0.4

# Added by Buildout Versions at 2012-04-17 20:59:10.489975
buildout-versions = 1.6
z3c.recipe.scripts = 1.0.1
zc.recipe.egg = 1.3.2
zc.recipe.testrunner = 1.4.0
zope.testing = 4.1.1

# Required by:
# cipher.googlepam==0.1.0
gdata = 2.0.15

# Required by:
# cipher.googlepam==0.1.0
# zope.exceptions==3.7.1
# zope.interface==3.8.0
# zope.testrunner==4.0.4
setuptools = 0.6c12dev-r88846

# Required by:
# zope.testrunner==4.0.4
zope.exceptions = 3.7.1

# Required by:
# zope.testrunner==4.0.4
zope.interface = 3.8.0

# Required by:
# zc.recipe.testrunner==1.4.0
zope.testrunner = 4.0.4

# Added by Buildout Versions at 2012-04-24 09:24:48.313678

# Required by:
# cipher.googlepam==1.2.0
py-bcrypt = 0.2

# Added by Buildout Versions at 2012-04-24 10:43:03.372309

# Required by:
# cipher.googlepam==1.2.0
python-memcached = 1.48

# Added by Buildout Versions at 2012-10-08 13:41:07.222000
distribute = 0.6.24
